@import 'components/bourbon/bourbon';
@import url(http://fonts.googleapis.com/css?family=Bitter:700|Lato);

$emphasis-font: Bitter, serif;
$description-font: Lato, sans-serif;
$primary-color: #EEE;
$background-color: #111;
$default-border-radius: 3px;

*, *:after, *:before {
  @include box-sizing(border-box);
}

a,
a:visited {
    color: blue;
    text-decoration: none;
    &:hover {
        color: grey;
    }
}

body {
    font-family: $description-font;
    height: 100%;
    margin: 0;
    position: absolute;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}

.nav-bar {
    background-color: black;
    font: 30px/1.5 $description-font;
    height: 50%;
    width: 100%;
    z-index: 1;

    .nav-options-container {
        opacity: 1.0;
        padding-top: 5%;
        margin: 0 auto;

        ul {
            left: 40%;
            position: absolute;
            top: 21%;
            li {
                display: inline-block;
                line-height: 100px;
                margin-left: 30px;
                vertical-align: middle;

                a {
                    color: white;
                    display: inline;
                    &:hover {
                        color: orange;
                    }
                }
            }

            .active {
                a {
                    color: orange;
                }
            }
        }

        .gaoism-logo {
            display: block;
            margin: 0 auto;
            width: 517px;
            img {
                width: 517px;
            }
            .gaoism-transparent {
                display: block;
            }
            .gaoism-opaque {
                display: none;
            }
            &:hover {
                .gaoism-transparent {
                    display: none;
                }
                .gaoism-opaque {
                    display: block;
                }
            }
        }
    }

}

.page-title {
    color: black;
    font-family: $description-font;
    font-size: 70px;
    line-height: 140px;
    margin: 0 auto;
    text-align: center;
    .title-emphasis {
        font-family: $emphasis-font;
    }
}

.home {
    top: 0;
    background-color: black;
    bottom: 0;
    color: $primary-color;
    position: absolute;
    width: 100%;
    z-index: 1;
    a {
        color: $primary-color;
        text-decoration: underline;
        &:hover {
            color: grey;
        }
    }
    .background-image {
        background-image: url('/img/brain.jpg');
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 100%;
        opacity: 0.85;
        width: 100%;
    }
    .home-content-container {
        height: 250px;
        left: 0;
        margin: 0 auto;
        position: fixed;
        right: 0;
        top: 30%;
        width: 647px;
        .gaoism {
            position: absolute;
            img {
                display: block;
                height: 250px;
            }
        }
        .description {
            font-family: $description-font;
            font-size: 50px;
            font-weight: bold;
            left: 25%;
            position: absolute;
            top: 70%;
        }
    }
}

.subpage {
    background-color: #EEE;
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 30px;
    position: relative;
    width: 100%;
}

.write {
    @extend .subpage;
    a,
    a:visited {
        color: grey;
        &:hover {
            color: grey;
        }
    }
    .write-container {
        text-align: center;
        width: 100%;
        .write-example {
            color: black;
            background-color: white;
            border-radius: $default-border-radius;
            display: block;
            margin: 5% auto;
            overflow: hidden;
            position: relative;
            width: 90%;
            .write-title {
                float: left;
                font-size: 50px;
                line-height: 375px;
                padding: 0 10%;
                text-decoration: none;
            }
            .write-picture {
                bottom: 0;
                margin: auto;
                padding: 50px;
                position: absolute;
                right: 100px;
                top: 0;
                width: 50%;
            }
            &:hover {
                color: white;
                background-color: black;
            }
        }
    }
}

.make {
    @extend .subpage;
    .project-container {
        text-align: center;
        width: 100%;
        .project {
            background-color: white;
            border-radius: $default-border-radius;
            display: inline-block;
            margin: 5% 5%;
            overflow: hidden;
            position: relative;
            width: 40%;
            .project-picture {
                width: 100%;
            }
            .project-title {
                color: black;
                display: block;
                font-size: 50px;
                margin-top: 3%;
                text-decoration: none;
                &:hover {
                    color: grey;
                }
            }
            .project-description {
                font-size: 15px;
                padding: 5% 5%;
                text-align: left;
            }
        }
    }
}

.am {
    @extend .subpage;
    .am-container {
        margin: 5% auto;
        overflow: hidden;
        width: 60%;
        .me-photo-container {
            float: left;
            width: 50%;
            .me-photo {
                display: block;
                img {
                    border-radius: $default-border-radius;
                    width: 100%;
                }
            }
            .me-photo-alt {
                @extend .me-photo;
                display: none;
            }
            &:hover {
                .me-photo {
                    display: none;
                }
                .me-photo-alt {
                    display: block;
                }
            }
        }
        .bio {
            background-color: white;
            border-radius: $default-border-radius;
            float: right;
            font-family: $description-font;
            padding: 30px;
            width: 50%;

            p {
                font-size: 20px;
                margin-bottom: 10px;
                margin-top: 0;
            }
        }
    }
}

// transition css

// .ng-enter {
//     @include animation(slideInRight 0.5s both ease-in);
//     z-index: 8888;
// }

// .ng-leave {
//     @include animation(slideOutLeft 0.5s both ease-in);
//     z-index: 9999;
// }

/* ANIMATIONS
============================================================================= */

/* slide in from the bottom */
@include keyframes(slideOutLeft) {
    to      { @include transform(translateX(-100%)); }
}

/* slide in from the right */
@include keyframes(slideInRight) {
    from    { @include transform(translateX(100%)); }
    to      { @include transform(translateX(0%)); }
}

/* slide in from the bottom */
@include keyframes(slideInUp) {
    from    { @include transform(translateY(100%)); }
    to      { @include transform(translateY(0%)); }
}
