@import url(http://fonts.googleapis.com/css?family=Bitter:700|Lato);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a,
a:visited {
  color: blue;
  text-decoration: none; }
  a:hover,
  a:visited:hover {
    color: grey; }

body {
  font-family: Lato, sans-serif;
  height: 100%;
  margin: 0;
  position: absolute;
  width: 100%; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.nav-bar {
  background-color: black;
  font: 30px/1.5 Lato, sans-serif;
  height: 50%;
  width: 100%;
  z-index: 1; }
  .nav-bar .nav-options-container {
    opacity: 1.0;
    padding-top: 5%;
    margin: 0 auto; }
    .nav-bar .nav-options-container ul {
      left: 40%;
      position: absolute;
      top: 21%; }
      .nav-bar .nav-options-container ul li {
        display: inline-block;
        line-height: 100px;
        margin-left: 30px;
        vertical-align: middle; }
        .nav-bar .nav-options-container ul li a {
          color: white;
          display: inline; }
          .nav-bar .nav-options-container ul li a:hover {
            color: orange; }
      .nav-bar .nav-options-container ul .active a {
        color: orange; }
    .nav-bar .nav-options-container .gaoism-logo {
      display: block;
      margin: 0 auto;
      width: 517px; }
      .nav-bar .nav-options-container .gaoism-logo img {
        width: 517px; }
      .nav-bar .nav-options-container .gaoism-logo .gaoism-transparent {
        display: block; }
      .nav-bar .nav-options-container .gaoism-logo .gaoism-opaque {
        display: none; }
      .nav-bar .nav-options-container .gaoism-logo:hover .gaoism-transparent {
        display: none; }
      .nav-bar .nav-options-container .gaoism-logo:hover .gaoism-opaque {
        display: block; }

.page-title {
  color: black;
  font-family: Lato, sans-serif;
  font-size: 70px;
  line-height: 140px;
  margin: 0 auto;
  text-align: center; }
  .page-title .title-emphasis {
    font-family: Bitter, serif; }

.home {
  top: 0;
  background-color: black;
  bottom: 0;
  color: #eeeeee;
  position: absolute;
  width: 100%;
  z-index: 1; }
  .home a {
    color: #eeeeee;
    text-decoration: underline; }
    .home a:hover {
      color: grey; }
  .home .background-image {
    background-image: url("/img/brain.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    opacity: 0.85;
    width: 100%; }
  .home .home-content-container {
    height: 250px;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 30%;
    width: 647px; }
    .home .home-content-container .gaoism {
      position: absolute; }
      .home .home-content-container .gaoism img {
        display: block;
        height: 250px; }
    .home .home-content-container .description {
      font-family: Lato, sans-serif;
      font-size: 50px;
      font-weight: bold;
      left: 25%;
      position: absolute;
      top: 70%; }

.subpage, .write, .make, .am {
  background-color: #EEE;
  overflow: hidden;
  padding-bottom: 50px;
  padding-top: 30px;
  position: relative;
  width: 100%; }

.write a,
.write a:visited {
  color: grey; }
  .write a:hover,
  .write a:visited:hover {
    color: grey; }
.write .write-container {
  text-align: center;
  width: 100%; }
  .write .write-container .write-example {
    color: black;
    background-color: white;
    border-radius: 3px;
    display: block;
    margin: 5% auto;
    overflow: hidden;
    position: relative;
    width: 90%; }
    .write .write-container .write-example .write-title {
      float: left;
      font-size: 50px;
      line-height: 375px;
      padding: 0 10%;
      text-decoration: none; }
    .write .write-container .write-example .write-picture {
      bottom: 0;
      margin: auto;
      padding: 50px;
      position: absolute;
      right: 100px;
      top: 0;
      width: 50%; }
    .write .write-container .write-example:hover {
      color: white;
      background-color: black; }

.make .project-container {
  text-align: center;
  width: 100%; }
  .make .project-container .project {
    background-color: white;
    border-radius: 3px;
    display: inline-block;
    margin: 5% 5%;
    overflow: hidden;
    position: relative;
    width: 40%; }
    .make .project-container .project .project-picture {
      width: 100%; }
    .make .project-container .project .project-title {
      color: black;
      display: block;
      font-size: 50px;
      margin-top: 3%;
      text-decoration: none; }
      .make .project-container .project .project-title:hover {
        color: grey; }
    .make .project-container .project .project-description {
      font-size: 15px;
      padding: 5% 5%;
      text-align: left; }

.am .am-container {
  margin: 5% auto;
  overflow: hidden;
  width: 60%; }
  .am .am-container .me-photo-container {
    float: left;
    width: 50%; }
    .am .am-container .me-photo-container .me-photo, .am .am-container .me-photo-container .me-photo-alt {
      display: block; }
      .am .am-container .me-photo-container .me-photo img, .am .am-container .me-photo-container .me-photo-alt img {
        border-radius: 3px;
        width: 100%; }
    .am .am-container .me-photo-container .me-photo-alt {
      display: none; }
    .am .am-container .me-photo-container:hover .me-photo, .am .am-container .me-photo-container:hover .me-photo-alt {
      display: none; }
    .am .am-container .me-photo-container:hover .me-photo-alt {
      display: block; }
  .am .am-container .bio {
    background-color: white;
    border-radius: 3px;
    float: right;
    font-family: Lato, sans-serif;
    padding: 30px;
    width: 50%; }
    .am .am-container .bio p {
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 0; }

/* ANIMATIONS
============================================================================= */
/* slide in from the bottom */
@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%); } }
@-moz-keyframes slideOutLeft {
  to {
    -moz-transform: translateX(-100%); } }
@keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); } }
/* slide in from the right */
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%); }

  to {
    -webkit-transform: translateX(0%); } }
@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(100%); }

  to {
    -moz-transform: translateX(0%); } }
@keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }

  to {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
/* slide in from the bottom */
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translateY(100%); }

  to {
    -webkit-transform: translateY(0%); } }
@-moz-keyframes slideInUp {
  from {
    -moz-transform: translateY(100%); }

  to {
    -moz-transform: translateY(0%); } }
@keyframes slideInUp {
  from {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }

  to {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); } }
