@import url(http://fonts.googleapis.com/css?family=Bitter:700|Lato);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #111111;
  margin: 0; }

a {
  color: #eeeeee; }
  a:hover {
    color: grey; }

.nav-bar {
  height: 100px;
  width: 100px;
  z-index: 10; }

.page {
  color: #eeeeee;
  height: 100%;
  width: 100%; }

.page-title {
  font-family: Lato, sans-serif;
  font-size: 70px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  position: relative;
  text-align: center; }
  .page-title .title-emphasis {
    font-family: Bitter, serif; }

.home {
  top: 0;
  bottom: 0;
  color: #eeeeee;
  position: absolute;
  width: 100%; }
  .home .background-image {
    background-image: url("/img/brain.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    opacity: 0.85;
    width: 100%;
    z-index: -1; }
  .home .home-content-container {
    height: 500px;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 30%;
    width: 647px; }
    .home .home-content-container .gaoism {
      position: absolute; }
      .home .home-content-container .gaoism img {
        display: block;
        height: 250px; }
    .home .home-content-container .description {
      font-family: Lato, sans-serif;
      font-size: 50px;
      font-weight: bold;
      left: 25%;
      position: absolute;
      top: 35%; }

.subpage, .write, .make, .am {
  height: 100%;
  overflow: auto;
  width: 100%; }

.write {
  background: blue; }

.make {
  background: #DDD; }

.am {
  background: #2c3e50; }
  .am .me-photo-container {
    display: inline-block;
    float: left;
    margin-left: 13%; }
    .am .me-photo-container .me-photo, .am .me-photo-container .me-photo-alt {
      display: inline-block; }
    .am .me-photo-container .me-photo-alt {
      display: none; }
    .am .me-photo-container:hover .me-photo, .am .me-photo-container:hover .me-photo-alt {
      display: none; }
    .am .me-photo-container:hover .me-photo-alt {
      display: inline-block; }
  .am .bio {
    display: inline-block;
    float: left;
    margin-left: 5%;
    width: 40%; }
    .am .bio p {
      font-size: 25px; }

/* ANIMATIONS
============================================================================= */
/* slide in from the bottom */
@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%); } }
@-moz-keyframes slideOutLeft {
  to {
    -moz-transform: translateX(-100%); } }
@keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); } }
/* slide in from the right */
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%); }

  to {
    -webkit-transform: translateX(0%); } }
@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(100%); }

  to {
    -moz-transform: translateX(0%); } }
@keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }

  to {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
/* slide in from the bottom */
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translateY(100%); }

  to {
    -webkit-transform: translateY(0%); } }
@-moz-keyframes slideInUp {
  from {
    -moz-transform: translateY(100%); }

  to {
    -moz-transform: translateY(0%); } }
@keyframes slideInUp {
  from {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }

  to {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); } }
