@import 'bourbon/bourbon';
@import url(http://fonts.googleapis.com/css?family=Bitter:700|Lato);

$title-font: Bitter, serif;
$description-font: Lato, sans-serif;
$primary-color: #EEE;
$background-color: #111;

body {
    background: $background-color;
}

a {
    color: $primary-color; 
    &:hover {
        color: orange;
    }
}

.home {
    top: 0;
    bottom: 0;
    color: $primary-color;
    background: $background-color;
    position: absolute;
    width: 100%;
    .title {
        font-family: $title-font;
        font-size: 150px;
        text-align: center;
        margin-top: 15%;
        padding-bottom: 20px;
    }
    .nav-bar {
        font-family: $description-font;
        font-size: 50px;
        text-align: center;
    }
}

.write {
    @extend .home;
    background: blue;
}

.make {
    @extend .home;
    background: #DDD;
}

.am {
    @extend .home;
    background: white;
}

// transition css
.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ng-enter {
    @include animation(slideInRight 0.5s both ease-in);
    z-index: 8888;
}

.ng-leave {
    @include animation(slideOutLeft 0.5s both ease-in);
    z-index: 9999;
}

/* ANIMATIONS
============================================================================= */

/* slide in from the bottom */
@include keyframes(slideOutLeft) {
    to      { @include transform(translateX(-100%)); }
}

/* slide in from the right */
@include keyframes(slideInRight) {
    from    { @include transform(translateX(100%)); }
    to      { @include transform(translateX(0%)); }
}

/* slide in from the bottom */
@include keyframes(slideInUp) {
    from    { @include transform(translateY(100%)); }
    to      { @include transform(translateY(0%)); }
}
