@import url(http://fonts.googleapis.com/css?family=Bitter:700|Lato);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:hover {
    color: grey; }

body {
  background: #111111;
  height: 100%;
  margin: 0;
  position: absolute;
  width: 100%; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.nav-bar {
  background-color: black;
  font: 30px/1.5 Lato, sans-serif;
  height: 150px;
  width: 100%;
  z-index: 1; }
  .nav-bar ul li {
    display: inline;
    float: left;
    margin-left: 20px;
    margin-top: 35px;
    width: 100px; }
    .nav-bar ul li a {
      color: grey; }
      .nav-bar ul li a:hover {
        color: orange; }
  .nav-bar ul .gaoism-logo {
    margin-top: 10px;
    width: 280px; }
  .nav-bar ul .active a {
    color: orange; }

.page-title {
  color: #eeeeee;
  font-family: Lato, sans-serif;
  font-size: 70px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  position: relative;
  text-align: center; }
  .page-title .title-emphasis {
    font-family: Bitter, serif; }

.home {
  top: 0;
  bottom: 0;
  color: #eeeeee;
  position: absolute;
  width: 100%;
  z-index: 1; }
  .home a {
    color: #eeeeee;
    text-decoration: underline; }
    .home a:hover {
      color: grey; }
  .home .background-image {
    background-image: url("/img/brain.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    opacity: 0.85;
    width: 100%; }
  .home .home-content-container {
    height: 250px;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 30%;
    width: 647px; }
    .home .home-content-container .gaoism {
      position: absolute; }
      .home .home-content-container .gaoism img {
        display: block;
        height: 250px; }
    .home .home-content-container .description {
      font-family: Lato, sans-serif;
      font-size: 50px;
      font-weight: bold;
      left: 25%;
      position: absolute;
      top: 70%; }

.subpage, .write, .make, .am {
  height: 100%;
  position: relative;
  width: 100%; }

.write {
  background: #2c3e50; }
  .write a,
  .write a:visited {
    color: grey; }
    .write a:hover,
    .write a:visited:hover {
      color: orange; }
  .write .page-title {
    height: 375px;
    line-height: 375px; }
  .write .project-container {
    text-align: center;
    width: 100%; }
    .write .project-container .write-project {
      color: white;
      display: block;
      height: 375px;
      margin: auto auto;
      position: relative;
      width: 100%; }
      .write .project-container .write-project .project-overlay {
        background-color: black;
        display: none;
        font-size: 50px;
        height: 100%;
        line-height: 375px;
        opacity: 0.85;
        position: absolute;
        width: 100%; }
      .write .project-container .write-project .project-picture {
        display: block;
        height: 375px;
        position: absolute;
        width: 100%; }
      .write .project-container .write-project:hover .project-overlay {
        display: block; }

.make {
  background: #2c3e50; }

.am {
  background: #2c3e50; }
  .am .me-photo-container {
    display: inline-block;
    float: left;
    height: 704px;
    margin-left: 13%;
    width: 467px; }
    .am .me-photo-container .me-photo, .am .me-photo-container .me-photo-alt {
      display: inline-block; }
    .am .me-photo-container .me-photo-alt {
      display: none; }
    .am .me-photo-container:hover .me-photo, .am .me-photo-container:hover .me-photo-alt {
      display: none; }
    .am .me-photo-container:hover .me-photo-alt {
      display: inline-block; }
  .am .bio {
    color: grey;
    background-color: white;
    display: inline-block;
    font-family: Lato, sans-serif;
    float: left;
    height: 704px;
    margin-left: 5%;
    padding: 30px;
    width: 467px; }
    .am .bio p {
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 0; }

/* ANIMATIONS
============================================================================= */
/* slide in from the bottom */
@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%); } }
@-moz-keyframes slideOutLeft {
  to {
    -moz-transform: translateX(-100%); } }
@keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); } }
/* slide in from the right */
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%); }

  to {
    -webkit-transform: translateX(0%); } }
@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(100%); }

  to {
    -moz-transform: translateX(0%); } }
@keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }

  to {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
/* slide in from the bottom */
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translateY(100%); }

  to {
    -webkit-transform: translateY(0%); } }
@-moz-keyframes slideInUp {
  from {
    -moz-transform: translateY(100%); }

  to {
    -moz-transform: translateY(0%); } }
@keyframes slideInUp {
  from {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }

  to {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); } }
